  
  
  <h2> <%= @work.title %> </h2> 

  <p><%= @work.category %> </p> 
  <p> Creator: <%= @work.creator %></p> 
  <p> Publication Year: <%= @work.year %></p> 

  <p> <%= @work.description %></p>

  