  
<div class="works-index"> 
  <main class="works-header">
    <h2> <%= @work.title %> by <%= @work.creator %></h2> 
    <p><%= @work.category.capitalize() %></p> 
    <p> Publication Year: <%= @work.year %></p> 
    <p> <%= @work.description %></p>
  </main> 
  <nav class="works-show-links"> 
    <%= button_to "Back to Media Ranks", top_media_index_path, method: :get, class:"btn-primary" %>
    <%= button_to "Edit Media", edit_work_path(@work), method: :get,class:"btn-primary" %>
    <% vote = Vote.find_by(work_id: @work.id)%>
    <% user = User.find_by(id: session[:user_id])%>
    <%= button_to "Add Vote", upvote_path(vote.id), method: :get,class:"btn-primary"%>
    <%= button_to "Delete Media", work_path(@work), method: :delete, data: {confirm: "Are you sure you want to delete #{@work.title}?"}, class:"btn-primary"  %>
  </nav>

  <table class="table"> 
    <tr> 
      <th> User </th> 
      <th> Join Date </th> 
    </tr> 
    <% @work.vote.users.each do |user| %>
      <tr> 
        <td> <%=link_to user.username, user_path(user)%>  </td> 
        <td> <%=user.join_date%> </td> 
      </tr> 
   <%end%> 
 </table> 
</div> 