  
  
  <h2> <%= @work.title %> </h2> 

  <p><%= @work.category %> </p> 
  <p> Creator: <%= @work.creator %></p> 
  <p> Publication Year: <%= @work.year %></p> 

  <p> <%= @work.description %></p>


  <%= link_to "Edit Media", edit_work_path(@work) %>
  <%= link_to "Delete Media", work_path(@work), method: :delete, data: {confirm: "Are you sure you want to delete #{@work.title}?"}  %>
 
 <% vote = Vote.find_by(work_id: @work.id)%>
 <% user = User.find_by(id: session[:user_id])%>
 <%= link_to "Add Vote", upvote_path(vote.id), method: :get%>

 <table> 
  <tr> 
    <th> User </th> 
    <th> Join Date </th> 
  </tr> 
  <% @work.vote.users.each do |user| %>
    <tr> 
      <td> <%=user.username%>  </td> 
      <td> <%=user.join_date%> </td> 
    </tr> 
  <%end%> 
 </table> 
