<table class="table table-striped table-hover">
  <tr class="thead-light">
      <th> Votes </th>
      <th> Title </th>
      <th> Created By </th>
      <th> Published </th>
      <th> Like? </th>
  </tr>
  <% type.each do |work|%>
  <tr>
    <% vote_id = work.vote.id %>
    <td> <%= User.get_users(vote_id).length %> </td>
    <td><%= link_to work.title, work_path(work.id) %> </td>
    <td> <%= work.creator %> </td> 
    <td> <%= work.year %> </td> 
    <td> <%= link_to "Upvote", upvote_path(vote_id), method: :get %> </td> 
  </tr>
  <% end %>
</table>





