<div class="media-spotlight"> 
  <h3> Media Spotlight: <%=@top_media.title%> by <%=@top_media.creator%> </h3>
  <p> <%=@top_media.vote.users.length%> votes - <%= @top_media.description%> </p>
</div>


  <div class="top-media"> 
    <div> 
      <h3>Top Albums </h3>
      <% @albums.each do |album| %>
        <h5> <%= album.title %> </h5> 
        <p> by <%= album.creator%> </p> 
        <p> <%=album.vote.users.length%> votes </p> 
      <% end %> 
    </div> 
    <div> 
      <h3>Books </h3>
        <% @books.each do |book| %>
        <h5> <%= book.title %> </h5> 
        <p> by <%= book.creator%> </p> 
        <p> <%= book.vote.users.length%> votes </p> 
      <% end %> 
    </div> 
    <div> 
      <h3>Movies </h3>
        <% @movies.each do |movie| %>
        <h5> <%= movie.title %> </h5> 
        <p> by <%= movie.creator%> </p> 
        <p> <%=movie.vote.users.length%> votes </p> 
      <% end %> 
    </div> 
</div>
