<div class="media-spotlight"> 
  <h3> Media Spotlight: <%=@top_media.title%> by <%=@top_media.creator%> </h3>
  <p> <%=@top_media.vote.users.length%> votes - <%= @top_media.description%> </p>
</div>


  <div class="top-media"> 
    <div> 
      <h3>Top Albums </h3>
      <% @albums.each do |album| %>
       <div class="card">
          <div class="card-body">
            <h4 class="card-title"> <%= album.title %> </h4>
            <p class="card-text"> by <%= album.creator%> | <%= album.vote.users.length%> votes</p>
          </div>
        </div>
      <% end %> 
    </div> 
    <div> 
      <h3>Books </h3>
        <% @books.each do |book| %>
       <div class="card">
          <div class="card-body">
            <h4 class="card-title"> <%= book.title %> </h4>
            <p class="card-text"> by <%= book.creator%> | <%= book.vote.users.length%> votes</p>
          </div>
        </div>
      <% end %> 
    </div> 
    <div> 
      <h3>Movies </h3>
        <% @movies.each do |movie| %>
        <div class="card">
          <div class="card-body">
            <h4 class="card-title"> <%= movie.title %> </h4>
            <p class="card-text">by <%= movie.creator%> | <%= movie.vote.users.length%> votes </p>
          </div>
        </div>
      <% end %> 
    </div> 
</div>


