<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header> 
  
  <h1> MediaRanker | Rank the Best of Everything </h1> 
  <nav> 
    <ul> 
      <li><%= link_to "View Top Media", top_media_index_path %> </li> 
      <li><%= link_to "View All Media", works_path %> </li> 
      <li><%= link_to "Add A New Work", new_work_path %> </li> 
      <li><%= link_to "View All Users", users_path %> </li> 
      
      <% if !session[:user_id]%>
        <li><%= link_to "Login", login_path %> </li>
      <%else%>
          <% user = User.find_by(id: session[:user_id])%>
          <%# <li> Logged in as <%= user.username %> 
          <li><%= link_to "Logged in as #{user.username}", current_user_path %> </li>
        <li><%= link_to "Logout", logout_path, method: :post %> </li>
      <%end%>
    </ul>
   </nav> 

  </header>
  <body>
    <%= yield %>
  </body>
</html>
