<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header> MediaRanker</header>
  <nav> 
    <ul> 
      <li><%= link_to "View All Media", works_path %> </li> 
      <li><%= link_to "Add A New Work", new_work_path %> </li> 
      <li><%= link_to "View All Users", users_path %> </li> 
      
      <% if !session[:user_id]%>
        <li><%= link_to "Login", login_path %> </li>
      <%else%>
        <li><%= link_to "Logout", logout_path, method: :post %> </li>
      <%end%>
    </ul>
   </nav> 
  <body>
    <%= yield %>
  </body>
</html>
