<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<header class="app-header"> 
  <div class="app-title"> <h1 class="media-ranker"> MediaRanker </h1>  <h1> | Rank the Best of Everything </h1> </div> 
    <nav> 
        <ul class="nav"> 
          <section class="main-links"> 
            <li class="navbar-item"><%= link_to "View Top Media", top_media_index_path, class: "nav-link" %> </li> 
            <li class="navbar-item"><%= link_to "View All Media", works_path, class: "nav-link" %> </li> 
            <li class="navbar-item"><%= link_to "Add A New Work", new_work_path, class: "nav-link"%> </li> 
            <li class="navbar-item"><%= link_to "View All Users", users_path, class: "nav-link" %> </li> 
          </section>  
          <% if !session[:user_id] %>
            <section class="login">
              <li class="navbar-item"><%= button_to "Login", login_path, method: :get,class: "nav-link btn btn-primary" %> </li>
            </section>
          <% else %>
            <section class="logout">
                <% user = User.find_by(id: session[:user_id])%>
                <li class="navbar-item"><%= button_to  "Logged in as #{user.username}", current_user_path, method: :get, class:"nav-link btn btn-primary"%></li>
                <li class="navbar-item"><%= button_to  "Logout", logout_path, method: :post, class:"nav-link btn btn-primary"%> </li>
            </section> 
          <%end%>
        </ul>
    </nav> 
  </div> 
</header>


  <body>
    <% if flash[:error] %>
      <section class="flash-msg__section alert alert-danger">
        <% flash.each do |name, message| %>
          <strong class="<%= name %>">
            <%= message %>
          </strong>
        <% end %>
      </section>
    <%end %> 

    <% if flash[:welcome] %>
      <section class="flash-msg__section alert alert-success">
        <% flash.each do |name, message| %>
          <strong class="<%= name %>">
            <%= message %>
          </strong>
        <% end %>
      </section>
    <%end %> 

    <% if flash[:notice] %>
      <section class="flash-msg__section alert alert-info">
        <% flash.each do |name, message| %>
          <strong class="<%= name %>">
            <%= message %>
          </strong>
        <% end %>
      </section>
    <%end %> 
    <%= yield %>
  </body>
</html>

